<table id="sortable_table" class="ui sortable celled table" style="margin-bottom: 200px">
	<thead>
	<tr id="sortable_table_tr">
	</tr>
	</thead>
	<tbody id="sortable_table_tbody">
	</tbody>
</table>
<script src="/javascripts/tablesort.js"></script>
<script>
	(async () => {
		let table_head = document.getElementById('sortable_table_tr')
		let keys = JSON.parse('{{ result.keys }}'.replace(/&quot;/g, '"'));

		for (let i = 0; i < keys.length; i++) {
			let th = document.createElement('th')

			th.innerText = keys[i];
			table_head.appendChild(th)
		}
	})();

	(async () => {
		let entries = JSON.parse('{{ result.entries }}'.replace(/&quot;/g, '"'));
		let table_body = document.getElementById('sortable_table_tbody');

		entries.forEach((entry) => {
			entry = Object.entries(entry);
			let tr = document.createElement('tr');

			for (let i = 0; i < entry.length; i++) {
				let td = document.createElement('td')

				td.innerText = entry[i][1];
				tr.appendChild(td)
			}
			table_body.appendChild(tr);
		});
	})();
	$("#sortable_table").tablesort();
</script>
